<!DOCTYPE html>
<html>
   <head>
          <title>Venue Vine</title>
          <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Reenie+Beanie|Poiret+One' rel='stylesheet' type='text/css'>
            <meta name="viewport" content="width=device-width">
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
          <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="imagesBody">
      <h1 class="venueName"><%= venue.name %></h1>

  <a class="returnToMap" href="/map"><h4 class="fancy"><span>Return to Map</span></h4></a>

<div class="picBookingParent">
  <div class="venueContainer">
    <img class="venueImage" src="<%= venue.imageURL %>" alt="venue">
  </div>
  <div class="bookingInfo">
      <h2>Booking Info</h2>
      <p><%= venue.address %></p>
      <p><strong>Contact:</strong> <%= venue.contact %></p>
      <p><%= venue.email %></p>
        <a href="mailto:<%=venue.email%>?Subject=Hi, I'm looking to book a show">Email <%= venue.name %> Here</a>
      <p><%= venue.phone %></p>
      <a href="<%= venue.website %>"><%= venue.name %> Website</a>

  </div>

</div>

<!--  <a class="returnToMap homePageLink" href="/"><h3>Home Page</h3></a> -->

 <hr id="hrSpace">


       <h4 class="commentsInvitation">Gigged at <%=venue.name%> before? Anonymously share your experiences</h4>
       <hr>

       <form action="/venues/<%=venue._id%>/comments" method="post">
            <br>
            <textarea type="text" placeholder="TITLE HERE" cols="40" name="title"></textarea><br>
            <br>
            <textarea rows="10" cols="40" placeholder="YOUR EXPERIENCE" type="text" name="content"></textarea><br><br>
            <input id="formSubmit" type="submit" value="Submit">
        </form>

    <div class="commentsBox">
       <% comments.reverse().forEach(function(comment) { %>
          <div class="comments">
            <h5><%= comment.title %></h5>
            <p> <%= comment.comment %></p>
            <p> <%= comment.created_at %> </p>
          </div>
        <% }) %>
    </div>

      <hr>
  </body>
</html>
